<section class="container">
      <center>
   <%= image_tag "help.svg", alt: "Exemplo de imagem", style: 'height: 300px', class: 'text-center'  %>
   </center>
<h1 class="text-primary text-center">O que fazer em Situações de Risco?</h1>
<section class="container">
    <h6 class="p-2">Qual situação você quer se informar?</h6>
<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Enchente
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        1. Mantenha-se informado: Fique atento às atualizações meteorológicas e avisos de enchentes emitidos pelas autoridades locais.
<br><br>
2. Prepare-se: Tenha um kit de emergência pronto, incluindo alimentos não perecíveis, água potável, lanternas, pilhas extras, rádio à pilha, primeiros socorros e documentos importantes.
<br><br>
3. Evacue, se necessário: Se as autoridades locais ordenarem a evacuação da área, siga suas instruções imediatamente. Não subestime a gravidade das enchentes.
<br><br>
4. Desligue a energia elétrica: Se houver risco de inundação em sua casa, desligue a eletricidade, gás e água para evitar choques elétricos e outros perigos.
<br><br>
5. Mova-se para áreas elevadas: Se você não puder evacuar, mova-se para o andar superior de sua casa ou para o telhado. Leve seu kit de emergência e fique em um local seguro até que a ajuda chegue.
<br><br>
6. Evite áreas alagadas: Não tente atravessar áreas alagadas, pois podem esconder perigos, como correntezas rápidas ou objetos afiados.
<br><br>
7. Mantenha contato: Mantenha-se em contato com familiares e amigos para informá-los sobre sua situação e saber se estão seguros.
<br><br>
8. Após a enchente: Depois que a água baixar, verifique se sua casa está segura antes de retornar. Esteja ciente dos riscos de contaminação por água suja e verifique se há danos estruturais.
<br><br>
9. Limpeza e reparos: Limpe e desinfete sua casa, remova a lama e faça os reparos necessários. Documente os danos para fins de seguro, se aplicável.
<br><br>
10. Fique alerta: Mesmo após a enchente, fique atento a possíveis riscos, como deslizamentos de terra e doenças transmitidas pela água
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
       Deslizamento 
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Em caso de deslizamento, é importante agir rapidamente e com segurança. Aqui está um passo a passo do que fazer:
<br><br>
Mantenha a calma: Mantenha a calma para poder pensar com clareza e tomar as decisões corretas.
<br><br>
Avalie a situação: Observe a extensão do deslizamento e determine se há risco imediato para você ou para outras pessoas.
<br><br>
Chame ajuda: Se estiver em perigo imediato ou se alguém estiver ferido, chame os serviços de emergência, como bombeiros ou polícia, imediatamente. Forneça detalhes sobre a localização e a gravidade da situação.
<br><br>
Evacue a área: Se houver risco de deslizamento contínuo ou se estiver em uma área de risco, evacue imediatamente. Não espere por instruções oficiais se sentir que sua segurança está em perigo.
<br><br>
Evite áreas de risco: Evite caminhar ou dirigir em áreas onde há deslizamentos recentes ou potenciais. Eles podem continuar deslizando e representar um perigo.
<br><br>
Comunique-se: Informe seus familiares ou entes queridos sobre sua situação e onde você está indo. Isso ajudará na coordenação de resgate, se necessário.
<br><br>
Procure abrigo seguro: Se estiver seguro, procure abrigo em uma área elevada ou em um edifício seguro até que a ameaça de deslizamento passe.
<br><br>
Fique informado: Mantenha-se informado sobre a situação através de rádio, televisão ou dispositivos móveis. As autoridades locais podem fornecer atualizações e orientações sobre segurança.
<br><br>
Evite retornar cedo demais: Não retorne à área afetada até que as autoridades declarem que é seguro fazê-lo. Pode haver riscos contínuos de deslizamento, inundações ou outros perigos.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
       Apagão
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Em caso de apagão, é importante agir com calma e seguir alguns passos para garantir sua segurança e a dos outros. Aqui está um guia passo a passo do que fazer:
<br><br>
Mantenha a calma: Evite o pânico e mantenha a calma. Apagões podem ser assustadores, mas é importante manter a compostura para tomar decisões seguras.
<br><br>
Verifique se é um problema local ou geral: Determine se o apagão afeta apenas sua residência ou se é um problema que afeta uma área mais ampla. Verifique se seus vizinhos também estão sem energia.
<br><br>
Verifique os disjuntores e fusíveis: Se o apagão for localizado apenas na sua residência, verifique os disjuntores ou fusíveis para garantir que não tenha havido um curto-circuito ou sobrecarga elétrica.
<br><br>
Reporte o apagão: Se for um problema mais amplo que afeta uma área maior, entre em contato com a empresa de energia elétrica local para relatar o apagão. Eles poderão fornecer informações sobre a extensão do problema e estimativas de tempo para restauração.
<br><br>
Mantenha-se seguro: Evite usar velas ou lanternas com chamas abertas, especialmente se houver vazamento de gás. Use lanternas LED ou luzes de emergência alimentadas por bateria, se necessário. Também é importante desligar equipamentos elétricos sensíveis para evitar danos quando a energia for restaurada.
<br><br>
Considere conservar alimentos perecíveis: Se o apagão se prolongar por um período prolongado, considere transferir alimentos perecíveis para um refrigerador ou freezer com gelo ou mantê-los em um local frio para evitar que estraguem.
<br><br>
Mantenha-se informado: Fique atento às atualizações sobre o apagão por meio de rádio a pilha, aplicativos de celular ou outros meios de comunicação disponíveis.
<br><br>
Esteja preparado: Tenha um kit de emergência em casa, incluindo água potável, alimentos não perecíveis, medicamentos essenciais, lanternas, pilhas e um rádio a pilha.
<br><br>
Ajude os vizinhos: Verifique se seus vizinhos, especialmente idosos ou pessoas com necessidades especiais, estão seguros e se precisam de assistência durante o apagão.
<br><br>
Espere pela restauração: Aguarde até que a energia seja restaurada. Em casos de apagões extensos, a restauração pode levar algum tempo, mas as empresas de energia geralmente trabalham o mais rápido possível para resolver o problema.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
       Estradas Fechadas
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Se você se deparar com estradas fechadas, seja por acidentes, condições climáticas adversas ou outras razões, aqui está um guia passo a passo do que fazer:
<br><br>
Mantenha a calma: Evite o pânico e mantenha a calma. Lembre-se de que estradas fechadas são muitas vezes temporárias e podem ser contornadas ou resolvidas com o tempo.
<br><br>
Siga as instruções das autoridades: Se houver autoridades presentes, como policiais ou funcionários de trânsito, siga suas instruções. Eles estão lá para garantir sua segurança e podem fornecer informações sobre rotas alternativas.
<br><br>
Verifique as informações: Se possível, verifique as razões para o fechamento da estrada. Pode ser devido a um acidente, condições climáticas perigosas, obras de construção ou outros eventos. Saber a causa pode ajudá-lo a planejar sua rota alternativa.
<br><br>
Encontre uma rota alternativa: Use um aplicativo de mapas ou GPS para encontrar uma rota alternativa. Esteja preparado para desviar e seguir por caminhos secundários ou estradas menos movimentadas, se necessário.
<br><br>
Esteja preparado para atrasos: Ao seguir uma rota alternativa, esteja preparado para possíveis atrasos no tempo de viagem. Estradas menores podem ter velocidades mais baixas ou condições menos favoráveis devido ao tráfego adicional.
<br><br>
Mantenha-se informado: Fique atento às atualizações sobre a situação da estrada por meio de rádio, aplicativos de trânsito ou sites de tráfego. As condições podem mudar rapidamente, e informações atualizadas podem ajudá-lo a ajustar seu plano de viagem conforme necessário.
<br><br>
Planeje com antecedência: Se você souber com antecedência que uma estrada está fechada, planeje uma rota alternativa antes de sair de casa. Isso pode ajudar a minimizar atrasos e frustrações durante a viagem.
<br><br>
Considere a segurança: Se as estradas estão fechadas devido a condições climáticas adversas, como tempestades de neve ou inundações, considere se é seguro viajar e se é realmente necessário sair de casa. Sua segurança e a segurança dos outros devem ser prioridade.
<br><br>
Seja paciente: Lembre-se de que situações de estradas fechadas são temporárias e podem ser resolvidas com o tempo. Mantenha-se paciente e adaptável, e esteja preparado para ajustar seus planos conforme necessário.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Acidentes na Estradas
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Em caso de acidentes nas estradas, é fundamental agir com calma e rapidez para garantir a segurança de todos os envolvidos. Aqui está um passo a passo do que fazer:
<br><br>
Mantenha a calma: Mantenha a calma para poder lidar com a situação de forma eficaz e tomar decisões sensatas.
<br><br>
Segurança em primeiro lugar: Verifique se você e os outros envolvidos estão fora de perigo. Se possível, mova os veículos para um local seguro fora da estrada para evitar mais acidentes.
<br><br>
Chame ajuda: Ligue para os serviços de emergência imediatamente, informando sobre a localização do acidente, o número de veículos envolvidos e se há feridos. Se estiver em uma área remota, forneça o máximo de detalhes possível sobre sua localização.
<br><br>
Verifique os feridos: Se for seguro fazê-lo, verifique se há feridos e preste os primeiros socorros básicos, se necessário. Não mova as vítimas a menos que seja absolutamente necessário e você tenha treinamento adequado em primeiros socorros.
<br><br>
Mantenha-se visível: Se estiver à noite ou em condições de baixa visibilidade, use sinais de advertência, como triângulos de segurança ou pisca-alerta, para alertar outros motoristas sobre o acidente.
<br><br>
Troca de informações: Se não houver feridos graves, troque informações com os outros envolvidos, como nome, número da carteira de motorista, placa do veículo, informações de seguro e detalhes do acidente. Procure obter informações de testemunhas, se houver.
<br><br>
Documente o acidente: Tire fotos da cena do acidente, incluindo danos aos veículos, marcas na estrada e quaisquer condições que possam ter contribuído para o acidente.
<br><br>
Reporte o acidente: Se necessário, informe o acidente às autoridades rodoviárias ou policiais e siga as instruções deles.
<br><br>
Siga as instruções das autoridades: Siga as instruções das autoridades presentes, como policiais ou paramédicos, e coopere totalmente com qualquer investigação em andamento.
<br><br>
Procure assistência médica: Mesmo que os ferimentos pareçam leves, é importante buscar assistência médica para avaliar qualquer lesão interna ou trauma que possa não ser imediatamente aparente.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Evacuação de Bairros Alagados
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
      Se você se encontrar em uma situação onde há evacuação de bairros alagados devido a inundações, é crucial agir rapidamente e com segurança. Aqui está um guia passo a passo do que fazer:
<br><br>
Mantenha a calma: Mantenha a calma para poder pensar com clareza e tomar decisões sensatas.
<br><br>
Siga as instruções das autoridades: Se as autoridades locais emitirem um aviso de evacuação, siga suas instruções imediatamente. Eles têm informações atualizadas e podem fornecer orientações sobre rotas seguras e locais de abrigo.
<br><br>
Prepare-se rapidamente: Reúna suprimentos essenciais, como água potável, alimentos não perecíveis, roupas, medicamentos, documentos importantes e uma lanterna. Se possível, desligue os serviços públicos, como eletricidade, gás e água, para evitar danos adicionais.
<br><br>
Evacue imediatamente: Saia da área de inundação assim que receber o aviso de evacuação. Siga as rotas de evacuação recomendadas pelas autoridades e evite caminhos conhecidos por estarem inundados.
<br><br>
Ajude os vizinhos: Verifique se seus vizinhos, especialmente idosos, pessoas com deficiência ou famílias com crianças pequenas, precisam de assistência para evacuar. Trabalhe em conjunto para garantir que todos estejam seguros.
<br><br>
Mantenha-se informado: Fique atento às atualizações sobre a situação das inundações por meio de rádio, televisão ou dispositivos móveis. As autoridades locais podem fornecer informações atualizadas sobre rotas seguras, abrigos e condições meteorológicas.
<br><br>
Evite atravessar áreas inundadas: Evite caminhar ou dirigir através de áreas inundadas, pois as águas podem ser mais profundas ou mais rápidas do que parecem. A correnteza também pode ser perigosa e arrastar pessoas e veículos.
<br><br>
Procure abrigo seguro: Se necessário, busque abrigo em locais designados pelas autoridades, como centros comunitários, escolas ou abrigos de emergência. Eles podem fornecer alojamento temporário, comida e cuidados médicos, se necessário.
<br><br>
Mantenha contato com a família: Informe seus familiares ou entes queridos sobre sua situação e seu paradeiro. Mantenha-os atualizados sobre sua localização e bem-estar.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
       Interrupção de energia elétrica
      </button>
    </h2>
    <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        1. Verifique a Causa: Determine se a interrupção elétrica é apenas na sua casa ou se afeta toda a área. Verifique se os disjuntores estão desligados ou se há algum problema externo, como uma falha na rede elétrica.
 
2. Mantenha a Calma: É importante manter a calma e não entrar em pânico. Interrupções elétricas são inconvenientes, mas geralmente podem ser resolvidas.
 <br><br>
3. Use Luzes de Emergência: Se você tiver luzes de emergência ou lanternas, use-as para iluminar as áreas importantes da casa, como corredores e escadas, para evitar quedas e acidentes.
 <br><br>
4. Desconecte Equipamentos Sensíveis: Desligue todos os aparelhos eletrônicos sensíveis, como computadores, TVs e equipamentos de escritório, para evitar danos quando a energia for restaurada.
 <br><br>
5. Evite Abrir a Geladeira: Mantenha a porta da geladeira fechada para preservar o frio. Isso ajudará a manter os alimentos frescos por mais tempo durante a interrupção elétrica.
 <br><br>
6. Evite Usar Aparelhos de Alto Consumo: Evite ligar aparelhos de alto consumo de energia, como secadores de cabelo, aquecedores elétricos ou fornos, pois isso pode sobrecarregar o sistema quando a energia for restaurada.
 <br><br>
7. Mantenha-se Informado: Fique atento às atualizações sobre a interrupção elétrica por meio do rádio ou de dispositivos móveis com bateria. As concessionárias de energia costumam fornecer informações sobre o progresso da restauração da energia.
 <br><br>
8. Prepare-se para a Restauração da Energia: Quando a energia for restaurada, verifique gradualmente os aparelhos elétricos e eletrônicos antes de ligá-los novamente. Isso ajudará a evitar sobrecargas no sistema elétrico.
 <br><br>
Lembre-se sempre de priorizar a segurança durante uma interrupção elétrica e seguir as instruções das autoridades locais e da concessionária de energia.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
        Afogamento na praia
      </button>
    </h2>
    <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        É importante agir rapidamente em casos de afogamento em praias para aumentar as chances de salvar a vida da vítima. Aqui está um guia passo a passo do que fazer:
 <br><br>
1. Mantenha a Calma e Avalie a Situação:Mantenha a calma e avalie rapidamente a situação. Determine se a vítima está em perigo imediato e se é seguro abordá-la.
 <br><br>
2. Peça Ajuda: Chame imediatamente por ajuda, seja gritando por socorro ou pedindo a alguém próximo para chamar os salva-vidas ou serviços de emergência.
 <br><br>
3. Solicite Equipamento de Resgate: Se possível, peça por equipamento de resgate, como boias, pranchas ou cordas, para ajudar no resgate da vítima.
 <br><br>
4. Não Entre em Água sem Treinamento Adequado: Se você não for um nadador experiente ou não tiver treinamento em resgate aquático, não entre na água para tentar salvar a vítima, pois isso pode colocar mais vidas em perigo.
 <br><br>
5. Jogue um Dispositivo de Flutuação: Se houver um dispositivo de flutuação disponível, como uma boia ou uma prancha, jogue-o em direção à vítima para ajudá-la a se manter à tona.
 <br><br>
6. Chame a Atenção da Vítima: Se estiver seguro fazê-lo, chame a atenção da vítima para ajudá-la a se manter calma e orientada. Diga para ela tentar flutuar e manter a cabeça fora da água.
 <br><br>
7. Chame os Salva-Vidas: Se houver salva-vidas presentes, sinalize para eles a localização da vítima e forneça qualquer informação relevante sobre a situação.
 <br><br>
8. Administre Primeiros Socorros: Assim que a vítima for resgatada da água, verifique sua respiração e pulso. Se necessário, inicie imediatamente as manobras de ressuscitação cardiopulmonar (RCP) até que os profissionais de saúde cheguem.
 <br><br>
9. Mantenha a Vítima Aquecida: Após o resgate, envolva a vítima em roupas secas ou cobertores para ajudar a manter sua temperatura corporal.
 <br><br>
10. Fique com a Vítima até a Chegada da Ajuda: Continue prestando assistência à vítima e oferecendo apoio emocional até que os serviços de emergência cheguem.
 <br><br>
Lembre-se sempre de priorizar sua própria segurança ao tentar ajudar em situações de afogamento e seguir as instruções dos profissionais de resgate e dos salva-vidas.
      </div>
    </div>
  </div>


  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
        Vazamento de Gás    
      </button>
    </h2>
    <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        Em caso de vazamento de gás, é crucial agir rapidamente para garantir a segurança de todos. Aqui está um guia passo a passo do que fazer:
 <br><br>
1. Saia Imediatamente do Local: Se você detectar um cheiro de gás ou suspeitar de um vazamento, saia imediatamente do local. Não acione interruptores elétricos, não ligue ou desligue aparelhos eletrônicos e evite qualquer fonte de ignição, como fósforos, isqueiros ou cigarros.
 <br><br>
2. Evacue a Área: Se estiver seguro fazê-lo, avise as pessoas ao seu redor para evacuar a área imediatamente. Não hesite em ajudar aqueles que possam precisar de assistência, mas não ponha sua vida em risco.
 <br><br>
3. Não Use Telefones ou Dispositivos Eletrônicos: Evite usar telefones ou dispositivos eletrônicos dentro do local do vazamento, pois isso pode causar uma centelha e desencadear uma explosão.
 <br><br>
4. Feche a Válvula de Gás: Se possível, feche a válvula de gás imediatamente. Isso ajudará a interromper o fluxo de gás e reduzir o risco de uma explosão. A válvula geralmente está localizada na tubulação de gás, próxima ao medidor de gás ou ao aparelho que está vazando.
 <br><br>
5. Ventile a Área: Abra todas as portas e janelas para ventilar a área e permitir que o gás escape para o exterior. Isso ajudará a dissipar o gás e reduzir os riscos de acumulação.
 <br><br>
6. Não Retorne ao Local: Depois de sair do local, não retorne até que seja considerado seguro por profissionais treinados em lidar com vazamentos de gás, como bombeiros ou técnicos de gás.
 <br><br>
7. Chame as Autoridades Competentes: Assim que estiver em um local seguro, chame imediatamente o serviço de emergência local ou a companhia de gás para relatar o vazamento. Forneça informações precisas sobre a localização do vazamento e siga suas instruções.
 <br><br>
8. Mantenha-se Informado: Fique informado sobre a situação e siga as instruções das autoridades competentes. Eles podem fornecer orientações adicionais sobre o que fazer e quando é seguro retornar ao local.
 <br><br>
Lembre-se sempre de priorizar a segurança e seguir estas etapas com cuidado em caso de vazamento de gás. Nunca subestime a gravidade de um vazamento de gás e aja rapidamente para proteger a vida e a propriedade.
      </div>
    </div>
  </div>
</div>
</section>