<main class="container">
    
    <section id="home" class="container my-4 p-2" id="home">
      <div class="row">
        <div class="col-12 col-lg-6 pt-5">
          <br>
        <h1 class="text-primary fw-bold">Plataforma Lazuli.</h1>
          <span class="cursor"></span>
          <p class="text-dark lead text-md-start">O melhor método para se manter informado sobre nossa Cidade!</p>
          <div class="mt-5 ">
<button class="shadow__btn">  
  <%= link_to 'Criar Conta', cadastro_path, class: 'text-decoration-none text-light' %>
</button>
<button class="shadow__btn">  
              <%= link_to 'Logar', entrar_path, class: 'text-decoration-none text-light' %>
</button>
          </div>
        </div>
        <div class="col-12 col-lg-6">
     <%= image_tag "home.svg", alt: "Exemplo de imagem" %>
        </div>
      </div>
    </section>
    </div>
    
</main>
