<div>
  <h2><%= link_to post.title, post %></h2>
  <p><%= post.text %></p>
  <p>
    <strong>Posted by:</strong>
    <% if post.user %>
      <%= post.user.name %>
    <% else %>
      Unknown User
    <% end %>
  </p>
</div>