<h1 class="text-primary fw-bold">Editando Publicação</h1>

<%= render "form", post: @post %>

<br>

<div>
  <%= link_to "Ver esta Publicação", @post %> |
  <%= link_to "Voltar as Publicações", posts_path %>
</div>
