<section class="container">

<h1 class="text-primary text-center">Publicações | Moradores</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    
    <br>
    <p>
      <%= link_to "Ver Publicação", post, class: 'btn btn-primary p-2' %>
    </p>
  <% end %>
</div>

<%= link_to "Nova Publicação", new_post_path %>
</section>