
<section class="container">

<%= render @post %>

<div>
  <%= link_to "Editar Publicação", edit_post_path(@post),class: 'btn btn-primary' %> |
  <%= link_to "Voltar as Publicações", posts_path %>
</div>

  <%= button_to "Apagar Publicação", @post, method: :delete, class: 'btn btn-danger' %>
</section>